.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  background-image: url("./mobile-footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover
}

.nav ul {
  position: absolute;
  width: 45vw;
  height: 15vh;
  max-width: 20rem;
  min-width: 16rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  bottom: 0;
  right: 0;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #FDFDFD;
  font-size: calc(1.4rem + 1vw);
}

@media screen and (max-height: 400px) {
  .bg {
    display: none;
  }
  .nav ul li a {
    display: none;
  }
}