.header-bg {
  width: 90vw;
}

.header {
  position: relative;
}

.header-container {
  position: absolute;
  top: 0;
  width: 55vw;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.header h1 {
  color: #FDFDFD;
}

.header-url {
  font-size: calc(6.2rem + 1vw);
}

.header-shortener {
  font-size: calc(2.2rem + 1vw);
}

.header-nav {
  display: none;
}